.header{
    -fx-font-family: "Arial";
    -fx-font-size: 120px;
    -fx-text-alignment: center;
}
.info-field{
    -fx-font-family: "Arial";
    -fx-font-size: 35px; 
}
.continue-button{
    -fx-font-family: "Arial";
    -fx-font-size: 25px;
}
.subtext{
    -fx-font-family: "Arial";
    -fx-font-size: 30px
}
.big-selector{
    -fx-font-family: "Arial";
    -fx-font-size: 35px
}
.normaltext{
    -fx-font-family: "Arial";
    -fx-font-size: 35px;
}